<div class="gridContainer">
  <md-grid-list cols="9" rowHeight="30px">
    <md-grid-tile
        (click)="showPossibilities(tile.tileData.id)"
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.tileData.num}} --- {{tile.tileData.possibilities}}
    </md-grid-tile>
  </md-grid-list>
</div>



<!-- <table class="table grid">
  <thead>
  </thead>
  <tbody>
    <tr ng-show="showGrid">
      <td class="cell" *ngFor="let cell of cells"><button class="cellButton" (click)="showPossibilities(cell.id)">{{cell.num}}</button></td>
             <td class="cell" *ngFor="let cell of cells">
              <button class="cellButton" (click)="showPossibilities(cell.id)">
                <table>
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td>{{cell.possibilities[0]}}</td>
                      <td>{{cell.possibilities[1]}}</td>
                      <td>{{cell.possibilities[2]}}</td>
                    </tr>
                    <tr>
                      <td>{{cell.possibilities[3]}}</td>
                      <td>{{cell.possibilities[4]}}</td>
                      <td>{{cell.possibilities[5]}}</td>
                    </tr>
                    <tr>
                      <td>{{cell.possibilities[6]}}</td>
                      <td>{{cell.possibilities[7]}}</td>
                      <td>{{cell.possibilities[8]}}</td>
                    </tr>
                  </tbody>
                </table>
              </button></td> 
    </tr>
  </tbody>
</table> -->

<!-- <div class="gridContainer">
  <div class="row" *ngFor="let cell of cells">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><button class="cellButton" (click)="showPossibilities(cell.id)">{{cell.num}}</button></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><button class="cellButton" (click)="showPossibilities(cell.id)">{{cell.num}}</button></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><button class="cellButton" (click)="showPossibilities(cell.id)">{{cell.num}}</button></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><button class="cellButton" (click)="showPossibilities(cell.id)">{{cell.num}}</button></div>
  </div>
</div> -->




 <button *ngFor="let poss of currentPossibilities" class="button" (click)="modifyPossibilities(poss)">{{poss}}</button>


<br>
<br>
<br>
<h3>Rows X Columns</h3>
<div ></div>
<button *ngFor="let size of gridSizes" class="button" (click)="setRowColumnNumber(size)">{{size}}</button>

<br>
<button class="button" (click)="addCell()">Submit</button> 